.locations__wrapper,
.filters__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input {
  margin: 0 20px;
  background-color: transparent;
  color: lightgreen;
  border: 3px solid;
  padding: 10px;
  border-radius: 15px;
}
