<nav class="nav__bar container">
  <div class="box">
    <div>
      <img
        class="logo content"
        src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg"
        alt=""
      />
    </div>
    <div class="links__container content">
      <span class="link"><a class="link__a" routerLink="characters" routerLinkActive="active">Characters</a></span>
      <span class="link"><a class="link__a" routerLink="locations" routerLinkActive="active">Locations</a></span>
    </div>
  </div>
</nav>
