<div class="card__wrapper">
  <div class="image__wrapper">
    <img
      class="image"
      [src]="character?.image"
      [alt]="character?.name"
    />
  </div>
  <h2 class="title">{{ character?.name }}</h2>

  <div class="info">
    <p><strong>Gender:</strong> {{ character?.gender }}</p>
    <p><strong>Episode count:</strong> {{ getEpisodesLength() }}</p>
  </div>
  <div (click)="getModal()"><strong>Origin:</strong>{{ getOrigins() }}</div>
  <div><strong>Location:</strong>{{ getLocation() }}</div>
</div>
<app-modals [character]="character" *ngIf="isClicked" (click)="getModal()" ></app-modals>
